@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-background: #222327;
  --clr-text: #eeeeee;
  --btn-font-size: 20px;
  --time-font-size: 200px;
  --date-font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(./images/dan-otis-OYFHT4X5isg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: var(--clr-text);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
}
button {
  font-size: var(--btn-font-size);
  border: transparent 2px solid;
  font-weight: 200;
  padding: 7px 30px;
  border-radius: 50px;
  background-color: transparent;
  color: var(--clr-text);
}

#btn_clock:hover,
#btn_work:hover,
#btn_break:hover,
#btn_settings:hover  {
  border: var(--clr-text) 2px solid;
  transition: 0.4s ease;
}
#MyClockDisplay,
#timerWork,
#timerBreak {
  text-align: center;
  font-size: var(--time-font-size);
  color: var(--clr-text);
}
#MyDateDisplay {
  text-align: center;
  font-size: var(--date-font-size);
  font-weight: 400;
  color: var(--clr-text);
}
#btn_image, #btn_sound {
  border: var(--clr-text) 2px solid;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 50px;
}
.work, .break, .settings {
  text-align: center;
}
.controlsWork, .controlsBreak, .gallery, .audios {
  display: flex;
  justify-content: center;
}
.plus_break,
.start_break,
.pause_break,
.reset_break,
.minus_break,
.plus_work,
.start_work,
.pause_work,
.reset_work,
.minus_work,
.show_clock,
.show_work,
.show_break,
.show_settings {
  padding: 10px;
}
.gallery img {
  border: 2px solid var(--clr-text);
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}
.gallery img:hover {
  transform: scale(1.1);
  border-color: #ccc;
}
